[2015-04-02 07:59] alexisju opened #1 "autocompletion / nettoyage des url"
Bonjour,
D'abord bravo pour cette app! Un vrai soulagement après des années d'utilisation de l'app Android Shaarli!

Je rencontre cependant deux petits soucis: l'autocompletion ne fonctionne pas et les attributs de tracking des url ne sont pas enlevés au moment d'enregistrer un nouveau lien.

Cela étant, j'utilise le fork communautaire de Shaarli (https://github.com/shaarli/Shaarli), ces problèmes

[2015-04-02 12:10] alexisju opened #2 "Perte de contenu en cas de rotation de l'écran"
Tout est dans le titre : en cas de rotation de l'écran, le contenu encodé dans la description et les tags se réinitialise.

[2015-04-03 16:52] NerosTie opened #3 "Add the apk to F-droid and/or Aptoide"
Some people, like me, don't use the Google Play Store.
It could be great to have the apk somewhere and, better, in stores like F-droid and Aptoide for easy updates.

(great app for Shaarli, I like it! :+1: )

[2015-04-03 18:55] dimtion commented on #1
Merci, pour le commentaire :).
Oui, l'autocompletion lors de la modification de la description et du titre ne fonctionnent pas pour le moment, et celui des tags n'est pas très fiable j'avais remarqué ce bug je le corrigerai dès la prochaine mise à jour.

Pour les attributs d'url, merci de relever le bug, je pense que cela vient du fait que lors du post, l'app passe pas par le premier formulaire d'

[2015-04-03 18:57] dimtion commented on #2
Merci, je corrige !

[2015-04-03 19:02] dimtion commented on #3
You can download the last apk from this page whereas it is not the lastest update :
https://github.com/dimtion/Shaarlier/releases

I will probably put the next version on the stores you suggested for easier updates. I'll notify you here when it's done.

[2015-04-04 03:42] NerosTie commented on #3
Great, thank you :)

[2015-04-04 13:04] alexisju commented on #3
F-Droid :+1:

[2015-04-04 20:23] dimtion commented on #3
I just published the latest version, it is currently available on the [releases tab](https://github.com/dimtion/Shaarlier/releases) and on the [Aptoide store](http://dimtion.store.aptoide.com/app/market/com.dimtion.shaarlier/8/8917968/Shaarlier). Sorry for the ugly presentation page.

For F-Droid it will take a little longer.

[2015-04-04 20:26] dimtion commented on #1
Normalement ces bugs sont corrigés dans la dernière version qui vient (à l'instant) d'être publiée. Merci encore pour le ticket.

[2015-04-04 20:27] dimtion commented on #2
Pareil, le bug est normalement corrigé dans la dernière version publiée. Merci.

[2015-04-04 21:23] NerosTie commented on #3
Updated from the Aptoide store. Worked perfectly!

[2015-04-04 21:23] #3 closed, assigned to nobody

[2015-04-04 21:25] NerosTie opened #4 "No autocompletion on tags"
In releases notes you talk about autocompletion on tags but there is no such thing when I try it.
(version 1.0.3)

[2015-04-04 21:26] NerosTie opened #5 "No share option on MIUI default web browser"
Using the default web browser from the custom Android rom called "MIUI", there is no share option for shaarlier.

[2015-04-04 21:36] dimtion commented on #4
Which fork of shaarli are you using ? Did the "Test settings" button displayed a success message ?

[2015-04-04 21:39] NerosTie commented on #4
I'm using the community fork ( https://github.com/shaarli/Shaarli/ ).
The "Try the settings" button says "the settings are fine"

[2015-04-04 21:44] dimtion commented on #4
Which version of android are you running ?

[2015-04-04 21:49] NerosTie commented on #4
![screenshot_2015-04-04-23-48-34](https://cloud.githubusercontent.com/assets/4572452/6994766/2f8475c2-db25-11e4-80c6-64e1f852a821.png)

[2015-04-04 21:49] dimtion commented on #5
Mmm, strange, I don't quite understand why this particular app doesn't handle a the sharing button. Do you have the name of the browser ? I can only find one called Charming Browser, but it wasn't updated since 2010.
Do you know if you browser use a custom android share button or the default android one  ?

[2015-04-04 22:00] dimtion commented on #4
Sorry, I went to your Shaarli to find the problem.
I don't know if it is because of your theme or else, but to retrieve the auto-complete tags, the app do a get request to ?ws=tags&term=+
In your case your Shaarli (and probably some others) only return the frontpage on that request. Can you have a look on how your Shaarli handle tags ? Maybe the parameters have changed...

[2015-04-04 22:10] NerosTie commented on #4
I switched-back to the default theme and the issue is still here.
I don't know where to look to knwo how my shaarli handles tags, can you explain?

[2015-04-04 22:20] dimtion commented on #4
I will take as example Firefox but it should be the same for any other browser.
So choose a random link, login into your Shaarli and create the link `Add link->Add link`  you should now be on the page for editing links) : `?post=`
Now open the network tools `ctrl+maj+q`, if necessary reload the page and add some random text in the tag textEdit. Can you tell me what requests the browser does ?

Tha

[2015-04-04 22:23] NerosTie commented on #5
Well, the name is "browser" and it's not helping because I can't find an apk somewhere.
I can send you a backup version of mine but it's not a great thing to do...

I don't know if default apps use a custom share button or not... but other apps I use are in (like skype, kde connect, ...), so Shaarlier shoud work too.

[2015-04-04 22:31] NerosTie commented on #4
Well, nothing related with tags but it uses awesomplete.js
![shaarli_tags](https://cloud.githubusercontent.com/assets/4572452/6994930/23a7384c-db2b-11e4-973e-02c5f3435521.png)

( 2 tags was in the tag edit)

[2015-04-04 22:34] dimtion commented on #4
If you add random tags in the tag field does it make any other http
requests ?
Le 5 avr. 2015 00:31, "Neros" notifications@github.com a écrit :

[2015-04-04 22:36] NerosTie commented on #4
No, nothing happen.
What Shaarli are you using?

[2015-04-04 22:50] dimtion commented on #4
I'm using the community version (same as yours) but I think you are right : it is the use of awesomplete library which breaks compatibility.

I maybe try to find a turn around but, I think the better way is to open an issue on this project : https://github.com/kalvn/Shaarli-Material

The thing is, I cannot make an different api for every version of shaarly, so fork developers should try not to bre

[2015-04-04 22:52] NerosTie commented on #4
You are right, it's from the theme. I will open an issue. Thank you!

[2015-04-04 23:18] NerosTie commented on #4
In fact, I'm not sure it's from the Material theme.

awesomplete.js is in the last release of the community shaarli.
Look: https://github.com/shaarli/Shaarli/tree/master/inc

If both of us have the same shaarli, you should have awesomplete too.

[2015-04-04 23:22] dimtion commented on #4
Ok, sorry if I was a bit too fast and was not up to date. I'll fix that
tomorrow. I think you should close the issue on the theme repo. My bad.

[2015-04-04 23:26] NerosTie commented on #4
No problem :wink:

[2015-04-04 23:34] dimtion commented on #1
Bon apparemment j'étais sur une ancienne version de shaarli (plus de 30 jours) et ma méthode pour accéder aux tags a changé. Le bug n'est donc pas résolu.
 Voir : https://github.com/dimtion/Shaarlier/issues/4

[2015-04-05 09:51] dimtion commented on #4
Would you mind if I ask to you to try and test this release : https://github.com/dimtion/Shaarlier/releases/tag/v1.0.4 ?
It works on my device.
Thanks in advance.

[2015-04-05 14:53] #1 closed, assigned to dimtion

[2015-04-05 14:53] #2 closed, assigned to dimtion

[2015-04-06 12:29] NerosTie commented on #4
It works!
Great job! :smile:

[2015-04-06 12:29] #4 closed, assigned to nobody

[2015-04-06 12:37] dimtion commented on #4
My pleasure :)

[2015-04-06 12:38] ikipatang opened #7 "Fail on https url (self-signed certificate)"
Hi, thank you for this app.
Hi, first of all thank you for this app.

The https urls seems to not be supported although there is the option.
When i test the settings on my own server, it tells me there is a problem on the url.

You can test it on the free shaarli service from shaarli.fr.
https://my.shaarli.fr/ikipatang : the test doesn't work.
http://my.shaarli.fr/ikipatang : work.
I tried the go

[2015-04-06 13:00] dimtion commented on #7
Thanks for your report.
Firstly your shaarli behavior is quite strange : the URL you given return a 404 unless I add a `/` at the end of the URL...

But I think the reason it doesn't work is probably because you have a self-hosted SSL certificate. The app only use (for the moment) the default android settings, which it doesn't accept (for security reasons) self hosted certificates.
For now you can

[2015-04-06 13:05] dimtion commented on #7
Here is a blog post on how to add your self-signed SSL certificate onto your android device : http://www.guyrutenberg.com/2013/03/16/manually-install-ssl-certificate-in-android-jelly-bean/

[2015-04-07 14:02] lvuser opened #8 "Only obtain a title if the share intent doesn't provide one"
Currently the application goes to the website to obtain the title irrelevant of whether share intent provides one or not. Most of the android applications, when I share using the share intent, it provides a title as well. (E.g Firefox for Android, Sync for Reddit, Redreader).

it might be best to only obtain a title if the application didn't receive a title from the share intent. The Pindroid appl

[2015-04-07 20:06] dimtion commented on #8
Thanks for the suggestion. Indeed you are right, the thing is I already implemented something like that, and as you can see it doesn't work for many apps (currently Youtube App, SoundCloud...). In my defense it is the first app I develop so at the time I wrote that code I didn't know about the ShareCompact class which pindroid rightfully use for retrieving the title as well as the url.  [see](http

[2015-04-08 16:16] lvuser commented on #8
Thank you for the android app. it is miles better than the previous two that I have used.

I am glad you found the link useful.

I think fetching the title automatically if the share intent didn't provide one, is the better way as users might not like the additional step of tapping the refresh button just to fetch the title. It also affects the user experience.

For advanced users, you could add a

[2015-05-09 15:30] dimtion commented on #5
Could you give me some screenshots of the browser's share menu ?

[2015-05-11 12:23] dimtion commented on #8
Should be solved in the latest release.

[2015-05-11 15:10] NerosTie commented on #5
![screenshot_2015-05-11-17-06-45](https://cloud.githubusercontent.com/assets/4572452/7567963/6d177e14-f800-11e4-8413-f9f14dd93d07.png)
![screenshot_2015-05-11-17-06-51](https://cloud.githubusercontent.com/assets/4572452/7567964/6d1ac100-f800-11e4-9f44-3552c33303fc.png)

Here they are! I'm using the last version (1.1.0b).

[2015-05-15 07:28] #8 closed, assigned to nobody

[2015-05-15 13:23] Marsup commented on #7
FYI I did all that with the certificate, I see the root certificate (StartSSL's in my case) in the list so I guess it went OK, still same error.

[2015-05-15 14:43] dimtion commented on #7
Quite strange, if your certificate is signed by StartSSL you should not need to install the certificate into your device nor the root one.
Do you means that just like @ikipatang, it works fine over HTTP but not over HTTPS ?

[2015-05-15 14:44] Marsup commented on #7
I have no HTTP to test with, I only use HTTPS, it's my own server.

[2015-05-15 14:48] dimtion commented on #7
Does the error message says that the url is incorrect or that the Shaarli is incompatible ? Which "version" of Shaarli do you use ?

[2015-05-15 15:11] dimtion commented on #5
Sorry for being late.

Unfortunately I think I have little control over this. They are indeed using a custom share dialog and the only way (I found) to be on the list would be to ask them directly. But being so little, I'm not very optimistic about them adding us...

The temporary solution I would propose is a bad one : try another browser...

In the mean time I'll have a look at their developer d

[2015-05-15 15:22] Marsup commented on #7
I get the `error_connecting` string. Using the fork (shaarli/Shaarli).

[2015-05-16 15:13] dimtion commented on #7
Ok, could you download this : [Shaarlier_v1.2.0-debug.apk](https://github.com/dimtion/Shaarlier/releases/tag/v1.2.0-debug)

Then try to reproduce the error message. The app should ask you if you want to send me an email. If  you think there are to much personal information in the report, feel free to erase them (at least keep the error message).

Thanks in advance.

[2015-05-16 15:47] Marsup commented on #7
OK I didn't send the email but that was helpful. I had forgotten to concatenate their pem with my crt, just misconfiguration. Thanks a lot !

[2015-05-16 16:03] dimtion commented on #7
No problem ;)

[2015-05-25 13:15] NerosTie commented on #5
Hm, I don't think Kde Connect ask them for that. Maybe something is missing somewhere...

But, it's ok, now I'm using Chrome which is better :)

[2015-05-30 16:49] #5 closed, assigned to nobody

[2015-05-31 02:23] NerosTie opened #10 "The diablog box is crashing"
Since the last version, when the dialog box shows up, it crashes few seconds later.
Not browser related, it crashes in the shaarlier app itself.
So, I can't 'shaare' something.

[2015-05-31 08:01] dimtion commented on #10
Some questions :
- Are you using the play-store version or the f-droid version ?
- Does it happen each time or just randomly ?
- Do you think it could come from the auto-loading of the title ? Try to disable auto-title in the settings, tell-me if it works better.
- Check in the settings that your account is correct, it is not impossible that the upgrade messed up the settings.
- To narrow down the

[2015-05-31 09:35] dimtion commented on #10
Could you try this release [Shaarlier v1.2.1](https://github.com/dimtion/Shaarlier/releases/tag/v1.2.1), and tell me if it works better and/or helps you with more error messages ?

[2015-05-31 09:42] NerosTie commented on #10
- I tried every versions: same behaviour
- Each time
- I don't think it comes from the auto-loading title. If i disable it, same thing.
- Settings are correct
- It works if I disable the share dialog

I think it's Lollipop related, because Shaarlier is also installed on my tablet (Jelly Bean 4.1) and it works perfectlly.

Hm, I could try the version 1.2.1 but I don't know how to compile for Androi

[2015-05-31 09:44] dimtion commented on #10
Sorry, forgot to upload the apk. Have another [try](https://github.com/dimtion/Shaarlier/releases/tag/v1.2.1) ;)

[2015-05-31 09:50] NerosTie commented on #10
Nothing change.

Actually, it works well just after the install then if I force quit the app, it will crashes every time even if I restart the smartphone.

[2015-05-31 10:15] dimtion commented on #10
Would you mind if we continue on [gitter](https://gitter.im) ? It will be easier for sending debug apk...

[2015-05-31 14:35] dimtion commented on #10
Should be finally fixed on [Shaarlier v1.2.2](https://github.com/dimtion/Shaarlier/releases/tag/v1.2.2)

Thanks again Neros !

[2015-05-31 14:38] NerosTie commented on #10
Thank you! :)

[2015-05-31 14:38] #10 closed, assigned to dimtion

[2015-07-21 22:02] NerosTie opened #13 "Has not been updated in Aptoide"
Small issue here.
In Aptoide, it's still the version 1.2.3. No update to 1.2.4.

Plus, the signature for the app in Aptoide and in F-Droid are different.
Is it possible to have the same signature for both?

Thanks.

[2015-07-22 09:06] dimtion commented on #13
Yeah, sorry I forgot Aptoide, should be up to date by now (or very soon).

And I'm sorry, I cannot use the same signing key on f-droid for the only reason that I do not sign the app on F-droid. See : https://f-droid.org/wiki/page/FAQ_-_App_Developers#What_about_signing.3F

So I try my best to use the same key on the other stores.

[2015-08-06 05:02] urza commented on #7
Hi I have similar problem.  Though my certificate is not self signed, I bought it from popular CA in my country (Czech Republic) but Shaarlier wont connect to my server anyway. I have sent email report with details fr the app few days back.

[2015-08-06 13:45] urza commented on #7
Would it be possible to add option to ignore certificate problems? Just allow me to connect anyway...

[2015-08-06 14:22] Marsup commented on #7
@urza Chances are you badly set up your SSL certificate like I did, my error was I forgot to do the "Create a unified certificate from your certificate and the CA certificates" like told in [that page](http://www.startssl.com/?app=42).

[2015-08-12 10:44] #13 closed, assigned to nobody

[2015-08-16 16:43] NerosTie opened #14 "Add automatic description"
It could be great to have an automatic description of the link by reading the content of the meta "description".
Just like the title, but for the description.
And, maybe, tags?

[2015-08-19 20:43] mro opened #15 "define expected html structure (a.k.a. API) ?"
Hi @dimtion,

I recently published on iOS something very similar to what you did for Android. One of the problems I had was the missing API or how to parse the html and find the relevant data.

Do you think we should agree on a mechanism to parse the html so we consider the same shaarli templates valid and can give hints or even a testbed to template creators?

See https://github.com/mro/ShaarliOS

[2015-08-25 08:43] dimtion commented on #14
Yes, retrieve some description from the the meta-data looks like a good idea. Perhaps adding a delete button on the description field would be helpful when the provided text is broken or unwanted.

About the tags, I was thinking of a good way of handling them : would the choice of tags be based on the shared url, on the sharing app or on key words in the description ? Maybe a mix of theses. It wou

[2015-08-25 08:57] dimtion commented on #15
You are right I'm not using any specific API to publish links on Shaarli. As you [noted](https://github.com/dimtion/Shaarlier/commit/e55b150770b67561d0e07c8b1d5ab88b4f1ce52b#commitcomment-12407612) I parse the html to retrieve tokens and the relevant data. This means that if Shaarli structure change, the app will no longer work.
When building the app I [asked](https://github.com/shaarli/Shaarli/is

[2015-08-25 09:33] dimtion commented on #15
You are right I'm not using any specific API to publish links on Shaarli. As you [noted](https://github.com/dimtion/Shaarlier/commit/e55b150770b67561d0e07c8b1d5ab88b4f1ce52b#commitcomment-12407612) I parse the html. This means that if Shaarli's structure changes, the app will no longer work. But, I only parse the html to retrieve tokens and check if the user is logged in (which is not optimal), an

[2015-08-25 20:27] mro commented on #14
there's a lengthy thread over at https://github.com/shaarli/Shaarli/issues/322

description makes sense to me (https://github.com/mro/ShaarliOS), tags rather don't.

[2015-08-25 20:45] mro commented on #15
other than form field ids (using them is https://github.com/mro/ShaarliOS/issues/3 and has to be changed), I look for the title or name of the whole shaarli instance via id. But I made that optional, so if it's missing the app will continue working flawlessly.

[2015-08-25 21:46] mro commented on #15
@dimtion how do you locate error messages?

[2015-08-27 19:35] dimtion commented on #15
I'm sorry, which error messages ? Errors sent by Shaarli ?

[2015-08-28 07:27] mro commented on #15
Yes, e.g. wrong password or ip bans.

[2015-09-05 00:25] mro commented on #15
would you mind having a look at https://github.com/shaarli/Shaarli/issues/16#issuecomment-137886509 - there's a strange issue with login and I wonder if you've seen it before.

The post-a-link flow can be seen here: https://github.com/mro/phptestdemo/blob/d0b6e568df43641ebe4dd5f079104d6410667109/scripts/test-post.sh#L29

[Update: solved meanwhile]

[2015-09-18 07:44] mro commented on #15
continue at https://github.com/mro/ShaarliOS/issues/1

[2015-09-18 07:44] #15 closed, assigned to nobody

[2015-10-18 07:53] mro commented on #15
Hi @dimtion what do you think about https://github.com/shaarli/Shaarli/pull/357 ?

Ho do you decide whether the link was really properly added or not?

[2015-10-18 09:31] dimtion commented on #15
Hi,
Actually, I don't, I only check that each the server response is 200.

The reason why I did that is because it is very simple. Also according to to Shaarli's source code, unless there is a server bug or a connection bug the link should very likely be posted.

But I follow you up on this pull request, it would be optimal to know for sure if the link has been posted.

[2015-11-22 18:18] dimtion commented on #7
The implementation I chose for v1.3.0 is to allow the user to disable certificate validation if he wants. It not secured at all but it is a good workaround.

If the user really wants security I think he should add his certificate to his device keypass.

Have you any remarks on this workaround ?

[2015-11-22 20:05] urza commented on #7
Wonderful exactly what I need. Thanks.

[2015-11-22 22:30] dimtion commented on #7
Could you have a look at : https://github.com/dimtion/Shaarlier/releases/tag/v1.3.0-alpha

Please tell me if you have remarks or if you find any bug.

Thanks again for the feedback !

[2015-11-22 22:31] dimtion commented on #14
Could you have a look at : https://github.com/dimtion/Shaarlier/releases/tag/v1.3.0-alpha

Please tell me if you have remarks or if you find any bug.

[2015-11-23 00:43] NerosTie commented on #14
It works well!

But more websites could be supported (because they don't use the classic meta description) if you add:

[code]

(plus, the `Settings` menu in the app, between `Share a link` and `Open my Shaarli`, is useless)

[2015-11-23 15:34] dimtion commented on #14
Thanks for the feedback, I'll add them for the next release.

[2015-11-23 15:47] mro commented on #14
see also at https://github.com/shaarli/Shaarli/issues/322#issuecomment-132253364

[2015-11-23 16:00] dimtion commented on #14
Thanks @mro for the reminder (I have probably over read your comment...)

In shaarli/Shaarli#322 they don't mention `twitter:description` meta tag, what priority should be choose ? What about for example `og:description` > `twitter:description` > `description`) ?

[2015-11-23 16:19] NerosTie commented on #14
@dimtion I think twitter must be the last because it's limited in every case or there are hashtags inside.

I would say : `description` > `og:description` > `twitter:description`  (og=opengraph=facebook)

But maybe I'm wrong!

[2015-11-23 16:23] dimtion commented on #14
Yes you are right, but as @mro mentioned in https://github.com/shaarli/Shaarli/issues/322#issuecomment-132253364 `og:description` should probably be first.

[2015-11-25 20:42] #7 closed, assigned to nobody

[2015-11-25 20:43] #14 closed, assigned to nobody

[2015-11-29 22:21] urza commented on #7
Works great for me.

[2015-12-26 18:24] dimtion opened #18 "Unable to retry when sharing fails"
It seems that in some cases when the sharing fails, the _retry notification_ does nothing.
Clicking on the notification isn't helpful.

Have anybody encountered something similar ?

Shaarlier v1.3.0 - CM Android 5.1

[2016-02-16 17:42] ArthurHoaro opened #19 "Unable to shaare from FlymeOS default browser"
In the default browser of FlymeOS (Meizu branded Android), the Shaarlier icon isn't available when clicking on share. It's available on Plume for Twitter or Relay for Reddit though.

![](http://imgur.com/wGT7AUM.png)

![](http://imgur.com/Aa6VyHU.png)

Android 5.1

[2016-02-16 17:52] dimtion commented on #19
It might be coming from the format in which the browser send the data. Shaarlier only accepts "text/plain"  intents.

Are you using the default OwnCloud application ? Maybe I can find the answer in its source code.

[2016-02-16 17:59] ArthurHoaro commented on #19
Yes I am. Although it says Nothing to send if I try to share something there.

K9-mail might be a better help. Let me know if you want me to try something out.

Le 16 février 2016 18:52:19 GMT+01:00, dimtion notifications@github.com a écrit :

[2016-02-22 23:37] gerroon opened #20 "Shaarlier as a browsing client?"
Hi

It would be so nice if this app can also browse and list the bookmarks from the server.

thanks

[2016-02-23 08:25] dimtion commented on #20
Hi,
Indeed It would be a great improvement for the application, I haven't worked on it yet because nobody have requested this feature. But it is on my [roadmap](https://github.com/dimtion/Shaarlier/blob/master/TODO.md#long-term-evolutions-if-requested) ;)

I cannot assure you a date for this feature yet, but I'll work on it in the next months.

[2016-02-23 09:36] mro commented on #20
I'm curious, too (concerning https://github.com/mro/ShaarliOS). What are the primary usecases you think of? Daily? The list? Search & tags? Having all posts buffered for offline use?

[2016-02-23 21:51] gerroon commented on #20
@mro

I think that it would be awesome if the app caches bookmarks(title and description?) for offline use. On top of that it would be awesome if one could search based on tags, title etc

For instance, the wallabag android app caches and syncs the saved articles for offline use. I find it to be super helpful.

[2016-02-23 23:54] dimtion commented on #19
Do you have a way to know which mime type your browser uses ? I'm having a hard time installing FlymeOS...

[2016-02-24 07:08] ArthurHoaro commented on #19
I don't know. I'll run a few tests to see if I can help.

[2016-02-24 08:54] mro commented on #20
the mere caching is simple – just cache the (logged in) [Atom dump](http://shaarlidemo.tuxfamily.org/Shaarli/?do=atom&nb=all).

But key is what UI/UX to provide.

[2016-02-26 02:09] gerroon opened #21 "FR: Sync Mobile bookmarks (Firefox or others) with Shaarli"
Hi

It would be nice if this app is able to sync previously recorded bookmarks in mobile browsers like Firefox. It seems to me that there is no way to export mobile Firefox browsers atm.

thanks

[2016-02-26 16:10] ArthurHoaro commented on #19
So, I made some tests. My simple app received `plain/text`, but is only available if it has this:

[code]

My guess is that they're doing [this](http://developer.android.com/training/sharing/send.html#send-binary-content):

So, 2 possibilities:
- wontfix
- accept all mimetypes and only handle `text/plain` in your activity.

It's up to you.

[2016-03-22 10:42] jeekajoo opened #22 "Fails to share a link when marshmallow's battery saver is ON"
Hi,
When using battery saver, sharing does not work.
As soon as I tell Android not to optimize`shaarlier`, sharing works again.
![optim](https://lut.im/3EYKwUSwu4/T016Rgy7sPtsuArV)

If we can't get around it, I think it should be at least documented.

Rom: Omnirom
Android: 6.0.1

Thanks
J.

[2016-03-22 22:02] dimtion commented on #22
Thanks for the report, I could reproduce the bug, I'm looking into it.

[2016-03-22 23:31] dimtion commented on #22
It seems that the problem is coming from android "battery saving" system which refuses some connections from background services.
According to the documentation, the app should wait for the right time to do network calls, in order to save battery life.

Temporary, "un-optimising" the application is a good solution. Because the app only makes one or two network calls (in order to post the link), it

[2016-03-23 07:50] jeekajoo commented on #22
I was trying to understand why Shaarlier is considered as a background app, and I found this:

[2016-04-27 13:51] NerosTie opened #24 "Emoji key in the keyboard"
Is it possible to add the emoji key in the keyboard?

But it looks like it has to be a choice between the "enter key" and the "emoji key"...

[2016-05-11 02:17] NerosTie commented on #24
Google keyboard has been updated and now this issue is irrelevant.

[2016-05-11 02:17] #24 closed, assigned to nobody

[2016-06-08 07:20] mro commented on #15
have you seen https://github.com/shaarli/Shaarli/pull/586 – what do you think about that?

[2016-06-08 14:15] dimtion commented on #19
As @di72nn has said in #23 it is technically possible to handle more mimetypes optionally. But I am not very found of adding another option in the menu to handle this specific case.

What do you think of using the new checkbox created in #23 perhaps by renaming it in something more vague like "Handle more link types" ? In which case, most users won't be bothered by Shaarlier in all their unrelated

[2016-06-08 14:56] dimtion commented on #15
Thanks for the notification, this PR is great news.

However, I don't have statistics, but I  don't think many people update their Shaarli regularly, so jumping on this API and discarding back-compatibility would be a very bad move.

[2016-06-08 14:57] #18 closed, assigned to nobody

[2016-06-08 17:00] ArthurHoaro commented on #19
I don't think it's gonna work, because as I said, the minimal app I made actually receive `text/plain`, but only if I'm « listening » to `mimeType="*/*"`. This issue is very minor, and marginal, I don't think you should worry too much about it.

[2016-06-08 18:59] mro commented on #15
indeed. I see
- a failing build the author doesn't even mention, let alone care about,
- increased code complexity (on our side),
- >800 LOC of immature code with zero tests,
- no API acceptance tests,
- no API documentation (which I would happily trade for acceptance tests),
- no clear security considerations, e.g. about brute force protection,

so I'm not enthusiastic about it.

[2016-06-08 19:02] dimtion commented on #22
Ok, so for the moment it will be a won't fix, if I want to keep the sharing in the background (in a non blocking way) I must use [GCM](https://developers.google.com/cloud-messaging/) and for this application I don't want to be too dependant on Google services.

The other workaround is to ask the user to "disable battery optimization", but for some reasons, Google remove apps asking for this reques

[2016-06-08 19:05] dimtion commented on #21
I put this request on the road-map, but it is not a priority. The problem as you mentioned is that there is no easy way for the app to retrieve your Firefox bookmarks.

[2016-06-28 06:46] ArthurHoaro commented on #19
This bug no longer exists with FlymeOS 5.

[2016-06-28 06:47] #19 closed, assigned to nobody

[2016-11-27 08:00] jaj42 opened #25 "Noy working with MyFrama"
Hi, maybe a PEBKEC but I cannot make this work with the MyFrama public shaarli instance. I tried http://my.framasoft.org/ with different settings but shaarlier says the url is not working.
Best regards, Jona

[2017-01-04 06:38] ebugnet opened #26 "Comptabilité avec le plugin shaarli2twiiter"
Bonjour,
Au cas ou, ça serait super si cette app pouvait être compatible avec le plugin https://github.com/ArthurHoaro/shaarli2twitter et permettre de choisir si un lien doit aussi être poussé sur twitter.
Merci
Éric

[2017-01-23 22:44] angristan commented on #26
J'approuve, je pensais que ça se faisait par défaut.

[2017-01-25 08:27] ebugnet commented on #26
Merci !

[2017-02-26 17:54] dimtion commented on #26
Je viens de pousser un commit pour corriger ce problème.

Pour faire fonctionner le plugin vous devrez cocher dans les réglages l'option "Twitter" puisque je n'ai pas trouvé de moyen simple pour détecter le plugin.

Dites-le moi si vous voulez bien que je vous envoie une version alpha pour que vous puissiez tester avant que je déploie aux autres utilisateurs.

[2017-02-26 17:57] dimtion commented on #25
I'll have a look as soon as possible.

[2017-02-26 18:10] dimtion commented on #25
I could not reproduced the bug with these settings :
[code]

You should try with the `https` protocol as : https://my.framasoft.org/. And maybe not forget the final `/`

[2017-02-26 20:15] angristan commented on #26
Je veux bien tester !

[2017-03-01 09:21] ebugnet commented on #26
Moi aussi, merci !
Éric

[2017-04-09 10:50] freayd commented on #25
It also works fine for me. The login process is actually described in the [Framablog post](https://framablog.org/2016/10/10/myframa-vos-favoris-et-framasofteries-partout-avec-vous-rien-qua-vous/).

[2017-05-02 10:49] dimtion commented on #25
@jaj42 have you got any update on this ? Otherwise I'll close the issue.

[2017-06-21 17:23] gsantner commented on #20
@dimtion Theres now an API which can be used :)
Here are the docs: <https://shaarli.github.io/api-documentation/>
As I last looked into it most parts seem to be ready for use

[2017-07-04 03:50] bes1967 opened #28 "Show bookmark's data if it was saved before"
If your bookmark database is quite large it's hard to remember had you already stored concrete url in it or not. While storing bookmark using bookmarklet if url was stored previously you can see all the data entered for it - title, description and tags. It'll be nice to have same functionality in this application.

[2017-07-08 20:03] dennisverspuij opened #29 "Make add-link interface scrollable"
Hello, thanks for the very useful app. Works great except for one problem, because the keyboard lays over the add-link interface it is virtually impossible to select tags from the autocomplete dropdown, I can only see and select the first item, any other tap closes the dropdown. Please make the interface scrollable and keep showing the dropdown when scrolling. TIA!

[2017-07-08 20:44] dimtion commented on #26
Désolé du retard, je viens de publier cette alpha à l'instant, si vous avez 5 minutes pour la tester n'hésitez pas : https://github.com/dimtion/Shaarlier/releases/tag/v1.4.0-alpha

[2017-07-08 20:45] dimtion commented on #25
/

[2017-07-08 20:45] #25 closed, assigned to dimtion

[2017-07-08 20:47] dimtion commented on #20
Thanks for the heads up, i will look at that for future versions, it will be much easier I think now ! But indeed, I'll need to be careful with retro-compatibility.

[2017-07-08 22:11] dimtion commented on #29
Hi,
As a matter of fact, the UI *is* scrollable. But yes when the tags appears the UI doesn't increase in size. Normally the tags should appear above the field, not under the keyboard.

But indeed, it seems that the UI is buggy in some Android versions.

[2017-07-09 20:15] angristan commented on #26
Parfait, ça fonctionne !

[2017-07-14 08:28] dennisverspuij commented on #29
@dimtion Confirmed, the autocompletion dropdown now appears above the input field, I cannot reproduce my problem anymore, but I am sure I experienced it once. Will let know how to pupulate the fields if I reencounter the problem. But even then I guess it must be hard to resolve with all different screen and keyboard sizes. It migth be an idea to just always add extra height to the UI so it's alway

[2017-08-09 11:53] mathong opened #30 "Unable to select account when shaaring a link"
Hi,

My Shaarlier is connected to 2 Shaarli instances. When I'm sharing a link (or a note), I can't select the target account. It seems that account names are in some kind of nested dropdown lists:
![test](https://user-images.githubusercontent.com/12710607/29119621-2603163a-7d07-11e7-8c42-4c6112c9bc31.jpg)
I noticed that you can hack this issue by long pressing the first account dropdown list and

[2017-09-01 10:13] opitux opened #31 "Impossible to connect my Shaarli when included in a wordpress template"
Hello,

Shaarlier can not connect to my shaarli when it is included in a wordpress (header/footer) template.

I duplicated an original Shaarli in another folder, connected with my original datastore.php to Shaarlier it but I don't think this is the right way ;)

By the way, many thanks for Shaarlier :)

[2017-11-30 21:09] husimo commented on #30
Hello. Same problem with android 7.1. Thank you

[2017-12-30 22:29] ArthurHoaro commented on #26
Merci pour l'ajout. Idéalement, il faudrait décocher et désactiver la case tweet si la case Private est activée.

[2018-01-16 20:53] gerroon opened #32 "FR: Open the server"
HI

It would be nice if there a button in the manin menu for opening the server's actual home page also another one in the share window which opens the currently added post's page on the server.

Thanks

[2018-01-21 18:40] angristan commented on #26
Hey, ça serait possible d'ajouter également un bouton pour [Shaarli2Mastodon ](https://github.com/kalvn/shaarli2mastodon) ? :D C'est basé sur Shaarli2Twitter, donc je suppose que ça doit être presque pareil en termes d'implémentation. Je serais presque tenté de faire une PR en me basant sur ton commit mais je connais pas assez bien Java haha.

[2018-02-01 14:27] poVoq commented on #26
Yeah Mastodon support would be also cool.

[2018-03-30 02:57] chrissv opened #33 "Not showing dropdown suggestions for tags"
I upgraded phones and of course installed Shaarlier. It works fine, but one thing I see different. I have 3 tags which start with 2: 2save, 2look, 2buy.

On my old phone, when I would start typing "2" in the tags field, it would show me all 3 tags which start with 2 in a drop-down so I could choose which one I wanted.

On my new phone, it doesn't show me anything - it just makes me type in the tag

[2018-04-02 16:02] dimtion commented on #26
Pourriez-vous ouvrir une autre issue pour l'intégration avec Shaarli2Mastodon ?

Il faudra que j'en profite pour simplifier l'intégration des différents plugins, à voir avec la nouvelle API Shaarli

[2018-04-02 16:02] #26 closed, assigned to dimtion

[2018-04-02 16:08] angristan opened #34 "Compatibilité Shaarli2Mastodon"
Issue pour demander l'ajout de la compatibilité avec https://github.com/kalvn/shaarli2mastodon.

Merci !

[2018-04-02 16:08] angristan commented on #26
C'est fait : https://github.com/dimtion/Shaarlier/issues/34

[2018-04-02 17:04] dimtion commented on #32
It is done in the following commit: https://github.com/dimtion/Shaarlier/commit/15e0670b236c3d184657365592d49f776fbf9436

[2018-04-02 17:04] #32 closed, assigned to nobody

[2018-04-02 18:42] dimtion commented on #29
I've planned to revamp the posting interface for the next release, this will be fixed. :)

[2018-04-02 18:43] dimtion commented on #33
I assume this might be a duplicate of #29 ? The tags appears under the keyboard that hide them.

[2018-04-02 18:46] chrissv commented on #33
Could be - I didn't see that. But I did notice that the next day, the dropdown suggestions *did* appear. Strange...

[2018-04-03 05:55] dimtion commented on #31
Do you have a link for me to investigate, the problem might be in the parsing of the login page, but without any example it is hard to pin point the problem.

[2018-04-03 08:25] opitux commented on #31
Hello :)

[2018-04-03 08:28] opitux commented on #31
Hello :)

I removed the wordpress integration for the shaarli I use with shaarlier. I can do it again for test. What do you need exactly ? Wordpress integration and corresponding id/password ?

[2018-06-02 12:01] cal101 commented on #29
Can some of this help?
https://stackoverflow.com/questions/16493017/close-keyboard-when-scrolling-in-dropdown-on-autocompletetextview-in-android

[2018-08-03 21:31] uriel1998 commented on #30
Likewise. This is a really important functionality for me, and I'd love to see it.

[2018-10-11 12:14] VLNTNO opened #35 "Data is lost when switching to another app then coming back to Shaarlier"
Hi,

When I start filling in a shaare, then I switch to another app and then switch back to Shaarlier, the data is no longer available.

Is there a way to have data to persist the app switches?

[2018-10-15 20:30] spectreman51 opened #36 "Failed to share"
Bonjour, impossible de partager sur 3 smartphones différents. Toujours le même message: failed to share.. Merci

[2018-10-16 08:25] dimtion commented on #36
Bonjour,

Peux-tu me donner plus de détails sur ton installation ? Quelle version de Shaarli, quelle version de Shaalier, quel version Android ?

Un conseil que je peux te donner c'est dans les options d'optimisation de batterie sur l'application, cela permet parfois de mieux faire fonctionner les requêtes réseau.

[2018-10-16 08:27] dimtion commented on #35
Hi,

Do you mean the data in the sharing form or that you already submited to Shaarli?

[2018-10-16 21:30] spectreman51 commented on #36
BonjourMerci pour ta réponse. J'utilise shaarli en version master v0. 10.2 hébergé sur pages perso free, shaarlier dans la dernière version. J'ai le problème sur 2 téléphones dont le plus récent en Android 8.1.0 et une tablette dans une version plus ancienne. Je soupçonne l'hébergement chez free.  Je vais essayer d'installation shaarli sur un raspberry. Chose étrange :aucun partage possible sur An

[2018-11-06 00:25] MagicFab commented on #34
J'ajoute Mastodon pour les mots clés de recherche - le moteur Github ne trouve pas ce rapport, sinon.

[2018-11-06 00:28] MagicFab opened #37 "Access / authenticate to Shaarli via API"
Shaarli can be accessed through a REST API:

https://shaarli.github.io/api-documentation/

It would be nice to use that instead of requesting a user password when setting up Shaarlier.

[2018-11-06 21:55] dimtion commented on #37
Hello MagicFab,

You are right, using the Shaarli REST API should be now the canonical way to access it. I unfortunately don't have much time to spend on Shaarlier, I barely have the time to fix the existing issues.

The support of the API should naturally come with  #20.

I'll keep you in tune, but I cannot guaranty you any ETA !

Anyway, thanks for opening the issue to keep an eye on the feature

[2018-11-07 14:43] MagicFab commented on #37
No stress, take your time. If there is a way to contribute or finance this and other features, it would be nice to see how much effort, resources ($) could make this happen and suppot your work when you have time.

[2019-01-06 10:04] TheNomad11 commented on #30
Same here with Android 8.1

[2019-01-22 21:42] mro commented on #37
Hi @dimtion,
I'm currently slowly implementing the delicious/pinboard API.
I do so on top existing shaarli installations by dropping a small additional, 0-config, binary `pinboard.cgi` (statically linked Go). See a demos here: https://github.com/mro/Shaarli-API-test/issues/7#issuecomment-453814817

What do you think about such a thing? I think, I will change ShaarliOS to go that way and do `get/ad

[2019-02-24 22:38] Nono-m0le commented on #34
Un moyen de participer pour avancer sur cet 'issue'?

[2019-03-16 21:13] jerometerrier commented on #36
Did you solve this issue?
I have the same problem.
thx

[2019-03-26 23:11] dimtion commented on #30
Hello,
I have just pushed a set of patches that should fix this issue. If you would like to test the patch, please let me know, I'll build an alpha release for you.

[2019-03-26 23:11] dimtion commented on #33
Hello,
I have just pushed a set of patches that should fix this issue. If you would like to test the patch, please let me know, I'll build an alpha release for you.

[2019-03-26 23:13] dimtion commented on #29
In the last set of patches I'ved pushed, I've revamped the sharing interface which should fix this issue. Please let me know if you want me to build an alpha release for you to test.

[2019-03-26 23:52] chrissv commented on #33
Hi, thank you. Yes, I would be happy to test it. I can side load *.apk files with no problems.
I still get intermittent tag suggestions with the production version.

[2019-03-27 22:45] dimtion commented on #33
Hi,

I've published an alpha version of the next release: https://github.com/dimtion/Shaarlier/releases/tag/v1.5.0a1

Please let me know if you have any remark or if you encounter any bug.

[2019-03-28 01:22] chrissv commented on #33
Thank you. Installed just fine, no problems so far. I will let you know.

[2019-03-28 10:45] dimtion commented on #37
Hi @mro,

Sorry for jumping on the issue this late, having a bit of time I'm starting considering using an API for Shaarlier instead of parsing the HTML returned by the server.

If I'm reading correctly you are proposing an API following Pinboard specification, which looks more tested and complete than the one developed within the Shaarli/shaarli fork?

If that is the case, I am not sure this is t

[2019-04-01 23:18] mro commented on #37
Hi @dimtion,

nice to hear from you, I hope you’re doing well and still have a bit of free time to spend for Shaarlier!

indeed, using a stable API is the only way in the long run. Even more so considering the (Apple) App-store submission lottery where changing a semicolon can mean Apple arbitrarily forces you to change the App’s name or whatnot.

Well, it’s less about completeness but more about

[2019-04-02 13:15] dimtion commented on #28
This should be fixed in the latest release: https://github.com/dimtion/Shaarlier/releases/tag/v1.5.0

Please let me know if you have any issue.

[2019-04-02 13:15] #28 closed, assigned to nobody

[2019-04-02 13:16] dimtion commented on #29
This should be fixed in the latest release: https://github.com/dimtion/Shaarlier/releases/tag/v1.5.0

Please let me know if you have any issue.

[2019-04-02 13:16] #29 closed, assigned to dimtion

[2019-04-02 13:16] dimtion commented on #30
This should be fixed in the latest release: https://github.com/dimtion/Shaarlier/releases/tag/v1.5.0

Please let me know if you have any issue.

[2019-04-02 13:16] #30 closed, assigned to dimtion

[2019-04-02 13:16] dimtion commented on #33
Thanks for your time, the release is now in production: https://github.com/dimtion/Shaarlier/releases/tag/v1.5.0

Please let me know if you have any issue.

[2019-04-02 13:16] #33 closed, assigned to dimtion

[2019-04-02 13:27] dimtion commented on #31
Hello Opitux,

Sorry for the very late response (1 year later).

I've pushed a new release of the application, do you still encounter the issue? If so can you please me help me pin-point the issue with the following information:

* Version of Shaarli
* What template are you using (Name and version)
* When exactly does you encounter the issue: When registering your account, when sharing a link?

Wi

[2019-04-04 09:44] dennisverspuij commented on #29
Works great thanks!

[2019-04-14 10:02] #34 closed, assigned to nobody

[2019-05-28 05:24] vjrj commented on #36
I have to retry several times til it works. It  seems to me that has a small timeout calling the API because fails very fast.

I'm  using the last version 1.6.0

[2019-06-09 22:27] dimtion commented on #36
Hi @spectreman51 @jerometerrier,

I've published [version 1.6.1](https://github.com/dimtion/Shaarlier/releases/tag/v1.6.1) which fixes a bug on Android 9, you might have a look. Unfortunately without more information I have a hard time pin-pointing the issue you are encountering.

Please let me know if you have more information about this bug.

[2019-10-25 14:36] immanuelfodor commented on #35
I think this is because of how Android works, you're in a share "intent" when editing the link in Shaarlier. The same happens when sharing from Gallery to Snapseed (for example), then switching apps, all your edits are lost in the picture editor because the content was shared into the other app. Really annoying, indeed :grinning:

[2020-01-30 16:07] immanuelfodor commented on #20
I really like Shaarlier as-is for sharing links, and the web interface provides _all_ the other functionality I need from Shaarli. If Shaarlier would implement browsing links, it should also implement editing previous links as well and also provide a plugin-enhanced experience (related posts, markdown, QR, etc). Otherwise, it would be a half-baked solution.

If @dimtion doesn't have too much time

[2020-01-30 16:09] immanuelfodor opened #40 "Markdown toolbar for description"
I got the idea in #20 to add enhancements to Shaarlier, one of these could be adding a markdown toolbar for the description field. It's really a pain to type formatted text into the simple text area.

[2020-01-30 16:13] immanuelfodor opened #41 "Search for substrings in tags"
I got the idea in #20 to add enhancements to Shaarlier, one of these could be searching for substrings in tags (not only prefixes). When you have so many tags, you don't remember the exact tag name, just a fragment, e.g., **ops** for operations, dev**ops**, devsec**ops**, cr**ops**123. The current search algorithm expects you to know the prefix, it would be great to list all matching tags with bol

[2020-01-30 16:15] immanuelfodor commented on #20
Added #40 and #41 just to make sure :)

[2020-02-21 00:50] GitHubGeek opened #42 "Username or password incorrect on latest version of Shaarli"
Hi!

Thanks for making this awesome Android app - Love the simplicity!

Recently I've upgraded to the latest Shaarli docker master branch (`docker pull shaarli/shaarli:master`). Now when I re-add the account in Shaarlier, my username and password are not accepted after tapping "Try and Save".

How do I debug this issue? I've tried clearing app data but issue persist.

Thanks again

[2020-02-27 10:05] bes1967 commented on #42
Hi!
This is a really great app. But the same issue here. I can login to shaarli from mobile or desktop browser, but not from the app. And this behavior has been going on since I've upgraded to the latest Shaarli docker master branch (shaarli/shaarli:master). Today I've updated docker image once more, new version has been pulled, but nothing has changed - no login from app. No matter what you are t

[2020-02-27 20:55] ArthurHoaro commented on #42
Hi guys, I've started to work on the next Shaarli version which will use Slim framework controllers instead of legacy request router. Therefore, `/?do=login` now redirects to `/login` on the `master` branch. Since this app does not use the REST API, I think this might be why you encounter this issue.

[2020-02-28 08:38] bes1967 commented on #42
ArthurHoaro, thanks. I was thought the problem is that the application is not using REST API. I've read somewere that the author plans to use API while developing version 2.0. Let's hope that it will be so. So far I decided to try Stakali

[2020-02-28 15:52] dimtion commented on #42
Hi guys!

Thank you for bringing this up to my attention.

Please excuse the late response, I don't have that much time to give to Shaarlier, but you should at least have an update about the state of the project.

@ArthurHoaro is right about the cause of the issue, Shaarli have made some changes on how the urls are handled, and since the application is not using any API Shaalier needs an update to

[2020-02-28 16:48] bes1967 commented on #42
@dimtion, it’s good to hear from you that you have plans to spend time implementing the client for the Shaarli REST API. Yes, Stakali, unfortunately, is not an open source project, and the author is not going to make it open source. In addition, the free version has some limitations. So I hope we'll see a new version of Shaarlier ... someday ;)

[2020-03-09 03:31] GitHubGeek commented on #42
Thanks a lot for the reply. I've downgraded* to the `latest` docker image and got Shaarlier working again.

Thanks again, Loïc & Arthur, for your FOSS projects Shaarlier & Shaarli. 🍻

(*) Be sure to export all bookmarks before downgrade as the data store isn't compatible.

[2020-03-09 04:22] dimtion commented on #42
@ArthurHoaro I was looking a bit on how I could implement the the API in Shaarlier, and it seems that external plugins such as Shaarli2Twitter or Shaarli2Mastodon are not supported yet by the Rest API.

Since these features are quite popular in Shaarlier users, and before I open an issue, do you have any information if there is any plan for opening the API to toggle external plugins features?

[2020-03-16 03:24] dimtion commented on #41
That would be a nice to add. I'm not adding this on the roadmap yet since there are more urgent matters.

Please note that this could be a beginner task for anyone to contribute!

[2020-03-16 04:17] dimtion commented on #42
Hey guys,

I had a bit of time to work on this matter during this week, and drafted a new version of Shaarlier that uses Shaarli API.
Would you have a bit of time to test and give me feedback on this version? You can download it from the releases tab of Github:
https://github.com/dimtion/Shaarlier/releases/tag/v1.7.0a

Once installed, you'll need to go to your account settings and set a valid Rest

[2020-03-16 10:10] nikonakoneko commented on #42
The share dialog disappear instantly and go back to setting like in this [screen cast ](https://imgur.com/a/qXZJQhw)

[2020-03-16 15:52] dimtion commented on #42
Hi @soratobukuroneko,

Thank you for the screencast, if I'm not mistaking you have no Shaarli account configured. If not done I would suggest to click on "Add account" on the main screen.

Let me know if you already did that, in which case it looks like a weird bug.

[2020-03-16 16:09] nikonakoneko commented on #42
I did that but then it returns to the main screen like if I had no account

[2020-03-16 17:46] dimtion commented on #42
Oh, ok I'll look into it.

On Mon, 16 Mar 2020, 09:10 Andrea Blankenstijn, <notifications@github.com>
wrote:

[2020-03-19 00:29] GitHubGeek commented on #42
Thanks so much for the update 🥇 ! It's now on F-Droid. :

Upgraded and did a quick test against Shaarli 0.11.1 - Saving links is working.

Will upgrade shaarli server to `master` and test again when I find some time.

[2020-03-20 02:53] dimtion commented on #42
Thank you @GitHubGeek! I'll try to finalize this issue before posting it on the AppStore.

@soratobukuroneko I was not able to reproduce your issue.

Some questions, to help me find the issue
* Can you try to remove and reinstall the application?
* Could you provide me with more information about your setup? For example: Android version, phone type, battery saving setting?
* On the account setting

[2020-03-20 02:54] #36 closed, assigned to nobody

[2020-03-20 04:21] #31 closed, assigned to nobody

[2020-03-20 04:21] #37 closed, assigned to nobody

[2020-03-20 06:39] nikonakoneko commented on #42
- I reinstalled the app (from F-Droid)
- Samsung SM-A520F (A5 2017) with LineageOS 16.0 20200316 microG (no Gapps). I tried disabling battery saving.
- I tried everything: user and password, user and token, user and password and token
- I have no account list anywhere

I can give you access to my shaarli instance if you want

[2020-04-06 02:12] frdrcv commented on #42
Hi everyone! I'm a new shaarli and shaarlier user and I've the same problem as @soratobukuroneko on my LG-H873 running Android 9 H87330b. I'm running my own instance of shaarli. I've tried the same steps as @soratobukuroneko without success.

[2020-04-06 14:52] dimtion commented on #42
Hi @frdrcv ,

I've discussed with @soratobukuroneko in private to find out the source of the issue and it was due to his webhosting provider putting a Javascript challenge in every webpage, including the REST API endpoints.

You might want to check that the your internet provider doesn't do the same.

Also, are you on Shaarli 1.7.2? On this version I've added a clearer error message that might hel

[2020-04-07 01:22] frdrcv commented on #42
Salut @dimtion,
Since yesterday I made some google searches and stumbled upon this blog post: https://ideatrash.net/2019/01/recommended-shaarli-stakali-and-your-cloud-bookmarks.html
Adding VirtualHost config file didn't solve the problem, though now I do have an error message when I try to configure shaarlier. It says I'm not using a valid shaarli URL. I just sent you the bug report by email (I do

[2020-04-07 01:24] frdrcv commented on #42
Oh, and concerning your last reply, if that's ok with you, I'll wait until you have the time to take a look at the bug report I sent you to contact my internet provider.

[2020-04-07 15:12] dimtion commented on #42
hi @frdrcv ,

Thank you for taking the time to figure this out together.
I'm sorry to inform you that I did not receive any bug report email (even in my junk folder). Are you sure the email was correctly sent?
If the email still does not work for some reason, could you post here the generated report (body of the email) with any information you find personnal stripped away?

In the mean time, could

[2020-04-07 15:44] frdrcv commented on #42
Strange, I just sent it again, maybe I actually forgot to send it yesterday while I was writing my last message here.

In all cases, here's the report :

Report type: DEBUG
Android version: 9
App version: 1.7.2
Activity: com.dimtion.shaarlier.activities.AddAccountActivity@a9fd9ae2020-04-07T15:37Z

Url Shaarli: http://****.dns.com/shaarli/
-----END REPORT-----

- I'm using Android 9
- I tried with

[2020-06-15 03:11] eisengrau commented on #42
Hello,

Same issue as above.

Looks like it is something to do if shaarli is served under a subdir on apache (domain/shaarli).

Else, using LineageOS 17.1 official/ Android 10, Galaxy S9, installed Shaarlier from F-droid.

[2020-07-04 18:54] dimtion commented on #42
Hey guys, sorry for the late response,

I'm trying to reproduce the issue on my side, however I cannot find the correct setup that trigger that error. @frdrcv @eisengrau @soratobukuroneko Could you help me with info about your Shaarli instance, namely:

* What version of Shaarli have you installed?
* What was your installation process for your Shaarli instance?
* Are you sure the API is enabled on

[2020-07-12 23:01] arnauldb opened #45 "Wrong url to my shaarli"
Hello,
I tried to input my shaarli url with:
https://xxxxx.com/shaarli and shaarli.xxxx.com but none of them work. I can of course access my shaarli instance with https://xxxxx.com/shaarli
Which url do I have to use in Shaarlier?
Thank you.

[2020-07-13 00:57] dimtion commented on #45
Hi @arnauldb,

Normally if you can access your Shaarli from both url, you can use any of them in Shaarlier. Make sure that the API rest is enabled in your settings and that `mod_rewrite` is enabled on your Apache and correctly configured, see [Shaarli documentation](https://shaarli.readthedocs.io/en/doc-rework-setup/Server-configuration/#examples)

Let me know if you need any more information,

[2020-07-13 01:59] dimtion commented on #45
Hi @arnauldb,

Another possibility is a missing piece in you Apache configuration: have you correctly added the following to your virtualhost?
[code]

[2020-07-13 06:32] mro commented on #45
I cannot, but rather see a sedo-parking-page. May this be the issue?

[2020-08-20 17:58] abshda opened #47 "Add proxy support"
Hi @dimtion ,

Are there any plans to support proxy( both SOCKs and HTTP(s) for the client)?

Regards,
XXX

[2020-08-25 02:49] dimtion commented on #47
Hi @smalltimebloke1 ,

This is not planned, but I'm opened to PRs! The biggest difficulty would probably be avoiding cluttering the interface when configuring a new account.

[2020-08-25 02:50] dimtion commented on #45
@mro Same, I guess this was probably an example URL @arnauldb gave.

Anyway I'm closing this.

[2020-08-25 02:50] #45 closed, assigned to nobody

[2020-08-25 05:05] dimtion commented on #41
As a notice, in the latest commit 4668d9f18374f2bc4bfdef525f257840f50603c2 I've added a fuzzy search on the tag list. I'm still in the process of tuning the sensitivity to avoid too many unwanted results, but this will surely go to the next release.

[2020-08-25 06:53] immanuelfodor commented on #41
Wow, this will be awesome!

[2020-09-09 19:49] iootaa opened #48 ""The given url is not a compatible Shaarli" at setup"
Hi there,

I'm trying to setup Shaarlier with a self-hosted Shaarli. Unfortunately I get an error, "**The given url is not a compatible Shaarli**" at setup

**The settings I tested:**

- in shaarli, "Enable REST API" is checked,
- in shaarlier, I tried both HTTP and HTTPS
- I tried to "Disable certificate validation" in shaarlier

**More technical informations:**

- Shaarlier v1.7.2 installed from

[2020-09-12 03:20] dimtion commented on #48
This seems to be an issue with Yunohost that redirects private calls to its SSO. There are prior discussion on shaarli_ynh repo: https://github.com/YunoHost-Apps/shaarli_ynh/issues/39

Let me know if that fixed your issue.

[2020-09-12 06:05] dimtion commented on #35
This issue was fixed in 99cbd9bfbf4206ef4a1b5f11c0ee740d76a675e5 and will be available in the next release.

[2020-09-15 03:54] dimtion commented on #41
The update is live. I'm closing this issue.

https://github.com/dimtion/Shaarlier/releases/tag/v1.8.0

[2020-09-15 03:54] #41 closed, assigned to nobody

[2020-09-15 03:55] dimtion commented on #35
Update is live. I'm closing.
https://github.com/dimtion/Shaarlier/releases/tag/v1.8.0

[2020-09-15 03:55] #35 closed, assigned to nobody

[2020-09-15 03:55] #42 closed, assigned to nobody

[2020-10-10 18:47] abochmann opened #49 "v1.8.0 (F-Droid) doesn't load title / description of shaares"
After upgrading my F-Droid install of Shaarlier to 1.8.0, it doesn't load titles and descriptions when creating a new share anymore. The loading animation shows for a short time, but there's no results. Happens on two different devices (though both are on Android 8.1), neither of which did have this problem with the previous release.

I've had a quick look using adb logcat while posting a link, bu

[2020-10-22 19:23] Arrappathor opened #50 "Shaarlier displays "wrong" message"
Hi,

I use the shaarlier v1.8.0.
Today I upgraded my Shaarli-instance to v0.12 and then had to change my login-credentials to REST-API secret.
When I now share links to my shaarli, the message "Failed to share" is displayed.
Nevertheless: the links are stored to my shaarli!
Any hint? Any other information needed?
Besides this: a very fine app, I use it for three years now!
Thank you!

Arrappathor

[2020-10-26 00:04] eazrael opened #51 "Absolute links generated"
I am running Shaarli 0.12.0 and Shaarlier 1.8.0. I am notsure when issue started and whether it is a butin Shaarli or in Shaarlier.

I am running Shaarli in a subdirectory and not in the hosts root dir. Currently sharing a links fails with an error message that link could not be shared. The link was successfully submitted to Shaarli, but another request is failing afterwards causing Shaarlier to r

[2020-10-26 00:07] eazrael opened #52 ""Disable certificate validation" resets on editing account"
If you enabled "Disable certificate validation" and edit the account again, the checkbox is always set to unchecked.

[2020-10-26 12:05] trial-n-error commented on #50
Problem occurs on my end as well with shaarlier 1.8.0 and shaarli 0.12.0, leading to the following notification:

"
Failed to share Search: ...
Press to try again
"

Once I press, it flashed "Your link has been shared".

It seems the link was already shared before even when the notification says different.

[2020-10-29 03:14] dimtion commented on #50
Hi,

Thank you for reporting this issue, this is an issue with Shaarli, I just posted a PR that should fix it https://github.com/shaarli/Shaarli/pull/1616

[2020-10-29 03:15] dimtion commented on #51
Thank you @eazrael , this detailed  report helped me a lot pin point the issue!

The issue is due to an invalid redirection header, returned by Shaari. I've posted a PR here that should fix the issue: https://github.com/shaarli/Shaarli/pull/1616

[2020-10-29 22:01] eazrael commented on #51
I am glad you understood my post despite all the mistakes :-)

And many thanks for solving this issue :-)

[2020-10-29 22:01] #51 closed, assigned to dimtion

[2020-11-13 04:31] Arrappathor commented on #50
Solved with update to shaarli 0.12.1
Thank you very much!

[2020-11-13 04:31] #50 closed, assigned to nobody

[2020-11-20 19:36] immanuelfodor opened #53 "Description is loading forever = not loading"
Since one or two updates of the app or maybe since the latest big Shaarli updates, the Shaarlier app is not loading the description field at all. It's not just not loading on a few sites, but honestly, I can't remember the last time it has loaded anything into the description field 😃

The same is also true for the main Shaarli app (cc @ArthurHoaro), and I'm not familiar with the API if Shaarlier g

[2020-11-20 19:46] immanuelfodor opened #54 "Title is loading forever = not loading when a link is shared from long tap"
Maybe related to #53 but this one seems to be a Shaarlier-only issue.

When a link is shared from a natural long-tap-on-a-link share action, the title field is loading forever = not loading at all. When a link is shared from a browser share menu (FF or Chromium-based), the title field loads fine.

Please look into this issue, it makes sharing links from web browsing/emails a pain, as every share n

[2020-11-22 19:12] immanuelfodor opened #55 "Multiple tags are added as one huge tag"
Sorry for troubling you again after the previous two issues but there is another annoying bug. It can be that this is an issue with the Shaarli API (cc @ArthurHoaro), but only Shaarlier makes it happen for me. My Shaarli is at the latest upstream master and I have the default space as tag separator. When I add several tags to a link, it's being created as one huge tag. The only way to get the tags

[2020-11-23 18:51] virtadpt opened #56 "Shaarli 0.12.1 support?"
Hi.  Has any work been done on making Shaarlier work with v0.12.1 of Shaarli?  Something seems to have changed in the API such that it doesn't seem to work anymore.  The error that Shaarlier throws in the UI: "Could not load tags.  Error fetching HTTP URL."

error.log on the server side: Nothing.

access.log on the server side:

[code]
(Note: I'm using Android - why does it think I'm using a Mac?)

[2020-11-24 10:25] ArthurHoaro commented on #53
On the webapp it should work properly. You can try to play with `general.retrieve_description` and `general.enable_async_metadata` to see if there is an issue somewhere.

[2020-11-24 11:19] ArthurHoaro commented on #55
I can reproduce your issue using the Python client. Can you report this on the main Shaarli repo?

[2020-11-24 11:22] ArthurHoaro commented on #56
In the meantime, you should try to uncheck "Use username/password (deprecated)" and paste your API key instead. It's working fine for me.

[2020-11-24 12:00] immanuelfodor commented on #55
Wow, thanks for the test, of course, closing this one.

[2020-11-24 12:18] immanuelfodor commented on #53
Hmm, I will, thanks! By the way, my Shaarli JSON was generated a few releases earlier, is this page up-to-date with the current configuration options? I'd update my file accordingly: https://github.com/shaarli/Shaarli/blob/master/doc/md/Shaarli-configuration.md

[2020-11-24 18:36] immanuelfodor commented on #53
Well, it seems I also have both these configs, and they are turned on. I'll open a separate issue in the main repo, and keep this one open for the in-Shaarlier description only.

[2020-11-24 18:53] virtadpt commented on #56
Yup, that did it.  Thanks!

[2020-11-24 22:04] daks commented on #56
I tried to use the username/password but it didn't work, maybe because I also use the HTTP Auth.

Error log from Nginx (anonymized):

[code]

[2020-11-28 14:57] immanuelfodor commented on #56
@daks To get HTTP Auth working, you could try adding your Shaarli URL in a form of https://httpusername:httppassword@shaarli.example.com where the user/pass could be added to an `Authorization` header. This workaround only works if the app implements it, and this scenario is untested by me but worth a shot.

[2020-12-10 11:31] gamgamstylep opened #57 "failed to share "press to try again""
All links fail on first try. Then the error message comes failed to share "press to try again". When I press on this then it works.

Shaarlier 1.8.0 on Android 9.
Shaarli 0.12.0

<img width="464" alt="2020-12-10_12_30_51-Screenshot_20201210-122713_Firefox jpg - IrfanView (Zoom_ 931 x 1914)" src="https://user-images.githubusercontent.com/43586166/101766818-9ebb6300-3ae3-11eb-8edb-d879533610a0.png">

[2020-12-18 11:00] ghost opened #58 "Fast-add links"
I'd like an additional share target that just saves a link, ideally with a set of defaults configurable in the app (private or not, and perhaps with a "read-later" tag). [PinDroid](https://play.google.com/store/apps/details?id=com.pindroid&hl=en_IE&gl=US) is a good example of this, and [In De Poche](https://play.google.com/store/apps/details?id=fr.gaulupeau.apps.InThePoche&hl=en_IE&gl=US) for Wall

[2020-12-18 11:02] ghost commented on #20
Just to add that [PinDroid](https://play.google.com/store/apps/details?id=com.pindroid&hl=en_IE&gl=US) for Pinboard does this really well. I've switched to Shaarly because I prefer self-hosted, but I miss being able to open the app and browse in a much tighter interface than the web client. That being said, an alternative compressed view for mobile on the web client would work just as well.

[2020-12-28 10:20] lapineige commented on #48
Is your shaarli instance private or public (alias: can you access it without being logged in Yunohost ?)

[2020-12-29 11:51] immanuelfodor commented on #55
@dimtion Based on Arthur's comment at https://github.com/shaarli/Shaarli/issues/1651#issuecomment-752045902 , please use an array instead of a string when sending the tags to Shaarli, it should fix the bug described in the opening post.

[2021-01-04 14:31] mondlicht-und-sterne opened #59 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-14 14:51] bbeardsley opened #60 "Shaarlier reports Failed to share using REST api but it does actually share"
shaarli 0.11.1 - latest android app.   At least it's saving but would rather not have to clear all the failed notifications

[2021-01-15 19:02] virtadpt commented on #60
I get this all the time, also, with Shaarli v0.12.1.  It's bad UX because it makes users think that it didn't work, when in fact it did.

[2021-01-15 23:27] bbeardsley commented on #60
https://github.com/dimtion/Shaarlier/blob/83819344865abeb5dde052483e07722ee8290608/app/src/main/java/com/dimtion/shaarlier/services/NetworkService.java#L204

So probably an exception

[2021-02-04 04:03] PubliusTX commented on #55
For what it's worth, I started experiencing this problem after I upgraded shaarli on my site to v 0.12.1 (from one of the 0.11 releases)

If I insert commas using the shaarlier android app, no problem. But I never had to do that before.

[2021-02-11 17:43] #59 closed, assigned to nobody

[2021-04-25 10:17] hydrargyrum opened #61 "The app fails to share links"
Every time I share a link to Shaarlier, it reports it fails. I retry and it says it succeeded.

Then I check on my shaarli account if the links were shared, but they were **NOT** shared at all. Unlike #60 and #57, even after retry, sharing **NEVER** works.

As is, this app is worse than useless.

In order of priority:
1. fix what's failing so often
2. continue displaying error notifications when i

[2021-05-14 19:15] sokai commented on #55
Hey there!

I had the same problem, saw the [new feature "support any tag separator, not just whitespaces"](https://github.com/shaarli/Shaarli/pull/1621), since [Shaarlier v0.12.1](https://github.com/shaarli/Shaarli/releases/tag/v0.12.1) and then I came over [issue "Multiple tags are added as one huge tag #1651"](https://github.com/shaarli/Shaarli/issues/1651) to here.

So I solved it (for me) by

[2021-10-28 19:31] AngelTrs commented on #61
Same issue with the app running on my Samsung S20 5G. Turning off battery optimization for the app seemed to help. I've had the issue with other apps and believe it's caused by the app attempting to make a network request while 'deep sleeping' in the background.

[2021-11-01 16:59] lotth commented on #61
I have the same issue. Actually, I only succeeded in recording a single linkwith Shaarlier since I installed Shaarli.
I saw no improvement with battery optimisation disabled.

[2022-03-13 18:15] iraklis10 commented on #56
@dimtion this can be marked as solved/closed. The suggested solution using the API works fine.

[2022-09-13 15:39] Manja-S commented on #61
I have the same issue as well, since updating from v. 0.10.4 to v. 0.12.1. Could you please fix this?

[2022-10-22 20:44] afc54 opened #65 "Add account: "The given url does not seems to work""
Shaarli running on my own freedombox (https://freedombox.org/).  It works fine (as far as I can tell).  I can connect to it from multiple computers (via browser).  Installed shaarlier from F-droid on my phone (galaxy S6, Android 7) and when adding account I get the above message.  I have tried with http, https.  To log in from computers the freedombox shaarli uses user name and password.  I have e

[2022-11-06 10:07] noccio commented on #65
The same problem with a yunohost installation

[2022-11-06 12:37] bttrx commented on #55
@dimtion Same here. When will this be fixed finally?